

input.error{
    border-color: red ;
    box-shadow: #000000 0 0 3px;
}

select.error{
    border-color: red ;
    box-shadow: #000000 0 0 3px;
}

label.error
{
    display: block;
    padding-left: 10px;
    color: red;
    position: absolute;
    left: 100%;
    top: 8px;
    font-size: 14px;
    width: 150px;
    z-index: 1;
}